<html  ng-app="StarterApp">
<head>
	<title>Ultimate</title>
	<meta charset="utf-8">
    <script src="/Trabalho-Multidiciplinar_5Sem-ADS/resources/js/angular.js"></script>
        
        <script type="text/javascript">
    
      var app = angular.module('StarterApp', []);
      app.config(function($compileProvider){
        $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|javascript):/);
      });

      var addOption = '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createBadge.php';
      var listedOption = '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/admin.php?lastElement=0';
      var parentEl = angular.element(document.body);
					
      app.controller('AppCtrl', function($scope, $http){
        $scope.toggleSidenav = function(menuId) {
          $mdSidenav(menuId).toggle();
        };

        $scope.menu = [
          {
            link : '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/admin.php?lastElement=0',
            title: 'Usuário admin',
            icon: 'account_circle',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createBadge.php'
          },
          {
            link : '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/users.php?lastElement=0',
            title: 'Usuário comum',
            icon: 'account_circle',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createBadge.php',
          },
          {
            link : '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/badges.php?lastElement=0',
            title: 'Medalhas',
            icon: 'favorite',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createBadge.php'
          },
          {
            link: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/country.php?lastElement=0',
            title: 'País',
            icon: 'room',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createCountry.php'
          },
          {
            link : '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/governmentDistrict.php?lastElement=0',
            title: 'Distrito governamental',
            icon: 'room',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createGovernmentDistrict.php'
          },
          {
            link: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/city.php?lastElement=0',
            title: 'Cidade',
            icon: 'room',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createCity.php'
          },
          {
            link : '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/grade.php?lastElement=0',
            title: 'Grau de escolaridade',
            icon: 'assignment',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createGrade.php'
          },
          {
            link : '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/idiom.php?lastElement=0',
            title: 'Idioma',
            icon: 'assignment',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createIdiom.php'
          },
          {
            link : '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/idiomLevel.php?lastElement=0',
            title: 'Niveis de idioma',
            icon: 'assignment',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createIdiom.php'
          },
          {
            link : '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/list/profileType.php?lastElement=0',
            title: 'Tipos de perfil',
            icon: 'assignment',
            urlCreateTemplate: '/Trabalho-Multidiciplinar_5Sem-ADS/resources/template/form/createBadge.php'
          }
        ];

        $scope.showAdd = function(ev) {
          $mdDialog.show({
            controller: DialogController,
            templateUrl: addOption,
            parent: parentEl,
            targetEvent: ev
          })
          .then(function(answer) {
            $scope.alert = '';
          }, function() {
            $scope.alert = '';
          });
        };

        $scope.changeContentAndButtonEffect = function(ev, url1, url2){
        
            
          addOption = url1;
          listedOption = url2;
          console.log(listedOption); 
          $scope.list = [];
          $http.get(listedOption)
          .then(function(res){
            $scope.list = res.data;         
            console.log("aÊ");
            console.log($scope.list);
          }); 
        }

      });
        
        app.controller('ListBottomSheetCtrl', function($scope, $mdBottomSheet) {
          $scope.items = [
            { name: 'Share', icon: 'share' },
            { name: 'Upload', icon: 'upload' },
            { name: 'Copy', icon: 'copy' },
            { name: 'Print this page', icon: 'print' },
          ];
        
          $scope.listItemClick = function($index) {
             var clickedItem = $scope.items[$index];
            $mdBottomSheet.hide(clickedItem);
            };
        });

        function DialogController($scope, $mdDialog) {
          $scope.hide = function() {
            $mdDialog.hide();
          };
          $scope.cancel = function() {
            $mdDialog.cancel();
          };
          $scope.answer = function(answer) {
            $mdDialog.hide(answer);
          };
        };

        app.controller('JsonCtrl', function ($scope, $http) {
          $scope.list = [];
          $http.get(listedOption)
          .then(function(res){
            $scope.list = res.data;               
          });    
        });
        </script>
</head>
<body layout="row" ng-controller="AppCtrl">
	<div>
      	<md-list>
        <md-subheader>Administração</md-subheader>
        <md-item ng-repeat="item in menu" class="optionList">

          <a target="#content" ng-click="changeContentAndButtonEffect($event, item.urlCreateTemplate,item.link)">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
              </div>
              <div class="inset">{{item.title}}</div>
            </md-item-content>
          </a>
        </md-item>
      </md-list>
	</div>
	<md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
           <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
          <md-content>
            <div>
              <table ng-controller="JsonCtrl">
                <tr>
                  <th ng-repeat="(header, value) in list[0]">
                    {{header}}
                  </th>
                </tr>
                <tr ng-repeat="row in list">
                  <td ng-repeat="cell in row" >
                    {{cell}}
                  </td>
                </tr>
              </table>
            </div>
          </md-content>
        </ui-view>
      </md-content>
</body>
</html>
