/* 
	Main Style file, all the site css must be here.
*/
/* admin*/
.header{
        
}

.leftMenu{
    width: 30%;
    float: left;
}

.contentAdmin{
    width: 70%;
    float: left;
}

.form-group{
    width: 50%;
}

/* Main (Generic style)*/

/* === Content (Central div) === */
.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 400px;
}

.error{
    color: red;
}
/* === Site header (main menu) === */

/* === Site bar (botton menu menu) === */